<div class="row py-lg-5">
    <div *ngIf="!registerMode" class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Album example</h1>
      <p class="lead text-body-secondary">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
      <p>
        <a href="#" class="btn btn-primary my-2 me-2" (click)="registerToggle()">Sign up</a>
        <a href="#" class="btn btn-secondary my-2">Learn more</a>
      </p>
    </div>

    <div *ngIf= "registerMode" class="container">
      <div class="row justify-content-center" >
        <div class="col-4 justify-content-center">
          <app-register  (cancelRegister)="registerToggle()"> </app-register>
        </div>
      </div>
    </div>
    
  </div>